@use 'var';

.header{
    position: sticky;
    top: 0;
    left: 0;
    background-color: var.$backgroundColor;
    transition: background-color .5s ease;

    &--is-hidden{
        background-color: transparent;
        transition: background-color .5s ease;

        .header{
            &__logo, &__links__item:first-child{
                visibility: hidden;
                opacity: 0;
            }
        }
    }

    &__container{
        padding:  8px 36px;
        display: flex;
        justify-content: space-between;
        
    }
    &__logo{
        max-width: 80px;
        width: 100%;
        margin: 5px;
        padding: 4px;
        transition: visibility .5s ease;

        @media (max-width:768px){
            display: none;
        }
    }

    &__links{
        display: flex;
        list-style: none;

        &__item{
            margin: 5px;
            padding: 4px;
            text-align: center;
            transition: visibility .5s ease;
        }
    }

    .button{
        height: 50px;

    }
}

.hidden{
    visibility: hidden;
}