@use "var";

.show {
  padding: 2vw 5.6vw;

  &__tabs {
    display: flex;
    justify-content: center;
    &__button {
      color: var.$TextColorSecon;
      font-size: 20px;
      background: none;
      border: none;
      text-transform: uppercase;
      margin: 0 1vw;
      cursor: pointer;
      border-bottom: 5px solid transparent;

      &--is-active {
        border-bottom: 5px solid var.$TextColorSecon;
      }
    }
  }

  &__list {
    margin-top: 44px;
    list-style: none;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;

    &--is-active {
      display: grid;
    }

<<<<<<< HEAD
    &__item {
      img {
        max-width: 100%;
        border-radius: 4px;
      }
    }
  }
=======
        @media (max-width:768px){
            grid-template-columns: 1fr 1fr;
        }

        &--is-active{
            display: grid;
        }
>>>>>>> 063950bddf8a6f74f9d482dd4deecb5e07aa0f6f

  @media (min-height: 769px) {
    &__list {
      grid-template-columns: 1fr 1fr;
    }
  }
}
